@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*- -*/
body {
	background-color: #000000;
}
/*- - - - - - S T A R T - N A V I G A T I O N - - - - - -*/
.glyphicon-align-justify {
	position: absolute;
	margin-top: 5px;
	margin-left: 360px;
}
.navbar {
	border-radius: 0;
}
.navbar-logo {
	position: absolute;
	margin-top: 22px;
	margin-left: 40px;
}
.navbar-logo img {
	width: auto;
	height: 60px;
}
.navbar {
	background-color: #f9484e;
	height: 100px;
	border: 0;
}
/*- - - - - - S T A R T - C O N T E N T - - - - - -*/
ul	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;

	margin-top: -15px;
	/*margin-left: 2px;
	margin-right: 2px;*/
}
li	a {
	background-color: #fff;
	color: #000000;
	margin-bottom: 5px;
}
li a:hover {
	/*color: #f9484e;*/
	background-color: #000000;
}
/*- - - - - - S T A R T - F O O T E R - - - - - -*/
.container a {
	padding: 12px;
	text-decoration: none;
}

.navbar-fixed-bottom {
	text-align: center;
	border-radius: 0;
	height: 20px;
}
.footer-aligns {
	margin-right: 40px;
}
.glyphicon {
	font-size: 14pt;
	color: #000000;
}