@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*- -*/
body {
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
}
/*- - - - - - S T A R T - N A V I G A T I O N - - - - - -*/
.icon-settings a {
	font-size: 10pt;
	text-decoration: none;
}
.glyphicon-align-justify {
	position: fixed;
	top: 8px;
	right: 8px;
}
.navigation {
	border-radius: 0;
	padding-top: 20px;
	text-align: center;
}
.navbar-logo img {
	width: auto;
	height: 60px;
}
.navbar {
	background-color: #f9484e;
	height: 100px;
	border: 0;
}
/*- - - - - - S T A R T - C O N T E N T - - - - - -*/
ul	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;

	margin-top: -15px;
	/*margin-left: 2px;
	margin-right: 2px;*/
}
li	a {
	background-color: #fff;
	color: #000000;
	margin-bottom: 5px;
}
li a:hover {
	/*color: #f9484e;*/
	background-color: #000000;
}
.information {
	background-color: #fff;
	border-radius: 5px;

	padding: 12px;
}
h1	{
	margin: 0;

	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 700;
}
h3 {
	padding: 5px;
	color: #fff;
	font-size: 11pt;

	margin-top: -9px;
	border-radius: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
p	{
	color: #000000;
	font-family: 'Open Sans', sans-serif; 
	font-size: 10pt;

	padding: 5px;
}
/*- - - - - - S T A R T - F O O T E R - - - - - -*/
.container a {
	font-size: 20pt;
	top: 13px;
	text-decoration: none;
}
.container a:hover {
	color: #fff;
}
.margin-icons {
	margin-right: 50px;
}
.navbar-fixed-bottom {
	text-align: center;
	border-radius: 0;
	height: 20px;
}
.footer-aligns {
	margin-right: 40px;
}
.glyphicon {
	font-size: 14pt;
	color: #000000;
}
/*- - - - - - S L I D E S H O W - - - - - -*/
#slides {
	border: solid 10px #000000;

	width: 600px;
	height: 300px;

	margin: 50px auto;

	overflow: hidden;
}

#slides img {
	display: block;
}